{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú|Café del sur'e</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy&display=swap">
    <!--FUENTES-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap">
    <!--ICONOS-->
    <script src="https://kit.fontawesome.com/302ad97639.js" crossorigin="anonymous"></script> 
</head>
<body>
    <!-- BARRA DE NAVEGACION -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <!-- Espacio para la imagen -->
        <div class="col-md-1">
            <a href="{% url 'inicio' %}">
                <img src="{% static 'imagen/logo.png' %}" alt="Logo" class="img-fluid logo">
            </a>
        </div>
        <div class="col-md-1">
            <img src="{% static 'imagen/linea.png' %}" alt="Linea" class="img-fluid linea">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}" style="color: #ffffff";>MENÚ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'canjeoPuntos' %}" style="color: #ffffff";>BENEFICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fotos' %}" style="color: #ffffff";>FOTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactanos' %}" style="color: #ffffff";>CONTACTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop_product' %}" style="color: #ffffff";>ENCARGOS</a>
                </li>
                <!-- Segundo LOCALIZAR TIENDA visible solo en pantallas pequeñas -->
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link" href="{% url 'ubicacion' %}" style="white-space: nowrap; color: #ffffff"><Label></Label>LOCALIZAR TIENDA</a>
                </li>
            </ul>
        </div>
        <div class="col-md-1">
            <br>
        </div>
        <div class="col-md-1">
            <li class="nav-item d-none d-lg-block">
                <!-- Espacio para LOCALIZAR TIENDA (Pantalla Completa) -->
                <a class="nav-link active" href="{% url 'ubicacion' %}" style="color: #ffffff; margin-right: 1%;"><Label></Label>LOCALIZAR TIENDA</a>
            </li>
        </div> 
    </nav>
    <!--MENÚ DE LA CAFETERIA-->
    <div class="pagina-menu">
        <h1 class="fuente-color">Bienvenidos al menú</h1>
        <div class="contenido-menu">
            <h2 class="fuente-color">Bebidas</h2>
            <div class="productos">
                <div class="producto-img"><img src="{% static 'imagen/cafe.png' %}" alt="cafe">
                    <p>Café</p>
                </div>
                <div class="producto-img"><img src="{% static 'imagen/te.png' %}" alt="te">
                    <p>Té</p>
                </div>
                <div class="producto-img"><img src="{% static 'imagen/chocolate-caliente.png' %}" alt="chocolate-caliente">
                    <p>Chocolate caliente</p>
                </div>
            </div>
            <h2 class="fuente-color">Comida</h2>
            <div class="productos">
                <div class="producto-img"><img src="{% static 'imagen/pastel-chocolate.png' %}" alt="pastel-de-chocolate">
                    <p>Pastel de Chocolate</p>
                </div>
                <div class="producto-img"><img src="{% static 'imagen/muffin.png' %}" alt="muffin">
                    <p>Muffin</p>
                </div>
                <div class="producto-img"><img src="{% static 'imagen/alfajor.png' %}" alt="alfajor">
                    <p>Alfajor</p>
                </div>
                <div class="producto-img"><img src="{% static 'imagen/sandwich.png' %}" alt="sandwich">
                    <p>Sandwich</p>
                </div>
                <div class="producto-img"><img src="{% static 'imagen/galletas.png' %}" alt="galletas">
                    <p>Galletas</p>
                </div>
                <div class="producto-img"><img src="{% static 'imagen/chessecake.png' %}" alt="chessecake">
                    <p>Chessecake</p>
                </div>
            </div>
        </div>
    </div>


    


</body>
</html>